/** Block */

.publication {
  margin-top: 6rem;
  margin-bottom: 4rem;
  border: solid 1px #c2c2c2;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  line-height: 2.5em;
}

/** Elemments */

.publication__title {
  text-align: left;
}

.publication__header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.publication__img {
  width: 100%;
}

.publication__textheader {
  color: #225ed6;
}

.post__desc {
  margin-top: 2.3rem !important;
}

.publication__content {
  font-size: 1.9rem;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  justify-content: space-around;
}

.publication__interaction {
  border-top: solid 1px #c2c2c2;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 2rem;
  justify-content: right;
  justify-self: flex-end;
  margin-top: 3rem;
}

/** Modifiers */
