<aside class="aside">
    <ul class="aside__list">
      <h3 class="title title_font_one aside__title">Categorías</h3>
      <li><a href="#" class="link aside__list-element">Categoría 1</a></li>
      <li><a href="#" class="link aside__list-element">Categoría 2</a></li>
      <li><a href="#" class="link aside__list-element">Categoría 3</a></li>
      <li><a href="#" class="link aside__list-element">Categoría 4</a></li>
    </ul>
    <ul class="aside__list">
      <h3 class="title title_font_one aside__title">Archivo</h3>
      <li><a href="#" class="link aside__list-element">diciembre 2024</a></li>
      <li><a href="#" class="link aside__list-element">noviembre 2024</a></li>
      <li><a href="#" class="link aside__list-element">octubre 2024</a></li>
      <li><a href="#" class="link aside__list-element">septiembre 2024</a></li>
      <li><a href="#" class="link aside__list-element">agosto 2024</a></li>
      <li><a href="#" class="link aside__list-element">julio 2024</a></li>
      <li><a href="#" class="link aside__list-element">junio 2024</a></li>
      <li><a href="#" class="link aside__list-element">mayo 2024</a></li>
      <li><a href="#" class="link aside__list-element">abril 2024</a></li>
      <li><a href="#" class="link aside__list-element">marzo 2024</a></li>
      <li><a href="#" class="link aside__list-element">febrero 2024</a></li>
      <li><a href="#" class="link aside__list-element">enero 2024</a></li>
    </ul>
  </aside>